# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
vevv/
venv/

# Environment variables
.env

# macOS
.DS_Store

# Python data files
*.pkl
*.sqlite3

# FAISS store
faiss_store/

# Logs
*.log

# IDE
.vscode/
.idea/
